* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Work Sans';
}

/* header & nav bar styles */

.header-container {
    background: rgba(255, 144, 14, 0.1);
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 50px 5vw 0;
}

.nav-bar-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-bar-info ul {
    display: flex;
    gap: 35px;
}

ul a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

ul li {
    list-style-type: none;
}

/*------------
banner description & banner image styles
 ------------------- */
.banner {
    text-align: center;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 102px;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 10px;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    margin-bottom: 32px;
}
.hide {
    display: none;
}
.btn-primary {
    margin-bottom: 50px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}
.btn-issu{
    text-align: center;
}

.banner-image img {
    height: auto;
    width: 90vw;
    border-radius: 5px;
    padding: 0 5vw 45px;
    
}

/*------------
Our features container styles 
------------------*/
.our-features-container {
    display: flex;
    width: 90vw;
    margin: 65px 5vw 0;
    gap: 50px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}

.features-images .img-style {
    height: 242px;
    width: 242px;
}

.our-features {
    padding-top: 150px;
}

.features-title {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24;
}

.features-title .color-2 {
    color: #131313;
}

.features-title .color-1 {
    color: #727272;
}

.features-description {
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

/* -----------
our architect Experiences styles
----------- */
.architect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 20px;
    width: 90vw;
    margin: 100px 5vw 0;
}

.experience-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    border-left: 2px solid #FF900E;
    border-width: 5px;
    padding-left: 21px;
    margin-bottom: 24px;
}

.experience-description {
    color: #727272;
    font-size: 16px;
    margin-bottom: 30px;
}

.architect-image img {
    width: 508px;
    height: 952px;
}

.article {
    padding: 30px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.article-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.article-description {
    color: #727272;
    font-size: 16px;
}

.btn-primary-1 {
    background: #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 100px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    border: none;
}

.btn-font {
    font-weight: 700;
    font-size: 45px;

}

/* ---------
some facts styles 
--------------*/
.some-facts {
    width: 90vw;
    margin: 130px 5vw 0;

}

.fact-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.fact-description {
    color: #727272;
    font-size: 16px;
    margin-bottom: 100px;
}

.facts-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.facts-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: auto;
    width: 200px;
    height: 200px;
}

.facts-item img {
    width: 45.22px;
    height: 45.22px;
}

.facts-point {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facts-description {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* ---------
our sponsors styles 
----------- */
.our-sponsors {
    margin: 150px 5vw 0;
    width: 90vw;
}

.sponsors-info {
    text-align: center;
    width: 90%;
    margin: 0 5%;
}

.sponsors-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.sponsors-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}

.sponsors-container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.sponsor {
    width: 90px;
    height: 50px;
    
}

/*------------ footer description styles 
=========----------- */
.footer {
    width: 90vw;
    margin: 130px 5vw;
}

.footer-description {
    color: #424242;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 20px;
}
@media screen and (max-width: 577px) {
    .sponsors-container, .facts-container, .our-features-container, .nav-bar-container {
        flex-direction: column;
        gap: 25px;
        width: 100%;
    }
    .architect-container, .features-images {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    .banner-title, .banner-description{
        width: 100vw;
        text-align: center;
    }
    .btn-primary{
        margin-left: auto;
        margin-right: auto;
    }
    .btn-primary-1 {
        margin: 40px;
        margin-left: 30%;
    }
}

@media screen and (min-width:577px) and (max-width: 972px) {
    .container {

    }
}